

.preview {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgba(0, 0, 255, 0.5);
}


.loading .preview {
  visibility: hidden;
  opacity: 0;
}

.loading::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 4px solid transparent;
  border-top-color: #0000FF;
  border-radius: 50%;
  animation: spin_animation 1s ease infinite;
}


@keyframes spin_animation {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}