dialog {
  padding: 5px;
  border: none;
  border-radius: 6px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
}

/* Styles the background overlay */
dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}