/* Toast.css */
.toast {
  padding: 15px;
  border-radius: 6px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size:16px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  /* Add basic entrance/exit animations if desired */
  
}

.toast-info { 
  background-color: #9ABF7F;
}

.toast-success {   
  background-color: #7FCCDE;
}

.toast-error {
  background-color: #E04342; 
}


.toast-in {
  animation: fadeIn 0.2s;
  pointer-events: visible;
}

.toast-out {
  animation: fadeOut 0.2s forwards;
  pointer-events: none;
}


.close-btn {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  margin-left: 10px;
}


@keyframes fadeIn {
  from { opacity: 0; transform: translateX(100%); }
  to { opacity: 1; transform: translateX(0); }
}


@keyframes fadeOut {
  from { opacity: 1; transform: translateX(0); }
  to { opacity: 0; transform: translateX(30%); }
}
/* You would need a similar animation for fadeOut when a toast is removed */