.none-clamped-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-break:break-all;
}


.edit-text {
  max-height: calc(5lh + 10px);
  overflow-y: auto;
  white-space: pre-line;
  word-break: break-all;
}
