#profile {  
  position: relative;
  align-items: center;
  justify-content: center;
  display:flex;
  flex-direction:column;
}


#cover {  
  position: relative;
  border: 2px solid gray;
  border-radius: 3px;
}

