

.preview {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgba(0, 0, 255, 0.5);
}

