#profile {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(255, 255, 0);
  align-items: center;
  justify-content: center;
  display:flex;
}


#cover {
  height:'256px';
  width:'256px';
  position: relative;
}
