.dynamicColumnContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Two equal columns */
  gap: 32px;
}


@media (max-width: 1200px) {
  .dynamicColumnContainer {
    grid-template-columns: repeat(2, 1fr); /* Two equal columns */
  }
}


@media (max-width: 768px) {
  .dynamicColumnContainer {
    grid-template-columns: repeat(1, 1fr); /* Two equal columns */
  }
}
