html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}


body {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight:normal;
}

/* @import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Noto+Sans+KR:wght@100..900&display=swap'); */
/* font-family: "Noto Sans KR", sans-serif; */
/* font-family: "Nanum Pen Script", cursive; */


input{
  font-family: sans-serif;
  border: 1px solid #808080;
  border-radius: 3px;
  font-size: 16px;
  padding:8px;
}


input:focus{
  outline: none;
  /* border: 1px solid #000000; */
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.2);
}

input:disabled{
  color:gray;
}


input:read-only:focus{
  box-shadow: 0px 0px 0px 0px
}

label {
  font-family: sans-serif;
  font-size: 16px;
  color:black
}


select {
  font-family: sans-serif;
  border: 1px solid #808080;
  border-radius: 3px;
  font-size: 16px;
  padding:7px;
}


select:focus{
  border: 1px solid #000000;
}


.clamped-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--line-count, 1);
  overflow: hidden;
  word-break:break-all;
  text-overflow: ellipsis;
}



.underline-text:hover {
  text-decoration: underline;
  cursor: pointer;
}


dialog {  
  border: none;
  border-radius: 3px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
}

/* Styles the background overlay */
dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}
