html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}


body {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight:normal;
}

/* @import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Noto+Sans+KR:wght@100..900&display=swap'); */
/* font-family: "Noto Sans KR", sans-serif; */
/* font-family: "Nanum Pen Script", cursive; */

