
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Noto+Sans+KR:wght@100..900&display=swap');


body {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight:normal;  
}


/* font-family: "Noto Sans KR", sans-serif; */
/* font-family: "Nanum Pen Script", cursive; */


input{
  border: 2px solid #808080;
  border-radius: 6px;
  font-size: 16px;
  padding:8px;
}


input:focus{
  border: 2px solid #000000;  
}

input:disabled{
  color:gray
}


label {
  font-size: 16px;
  color:black
}