.none-clamped-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-break:break-all;
}

.background-smooth {
  animation: colorCycle 4s alternate ease-in-out;
}


@keyframes colorCycle {
  0% { background-color: #FFFFFF; }
  30% { background-color: #FFFFFF; }
  50% { background-color: #92e0f3; }
  65% { background-color: #baeb7b; }
  80% { background-color: #d19191; }
  100% { background-color: #FFFFFF; }
}